.image-list {
	-webkit-column-count: 1;
	-webkit-column-gap: 0px;
	-moz-column-count: 1;
	-moz-column-gap: 0px;
	column-count: 1;
	column-gap: 0px;
	line-height: 0;
	margin: 0 auto;
	max-width: 1400px;
	padding: 15px 0;

	@include respond-to('tablet') {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}

	@include respond-to('desktop') {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}

	li {
		margin: 0;
		padding: 15px;
		list-style: none;
		img {
			height: auto !important;
			max-width: 100% !important;
			width: 100%;
		}
	}
}
